# Project information
site_name: Alex The Creator
site_url: https://al666ex.pages.dev/
site_author: Alex The Creator
site_description: >-
  Spend my spare time at coding, drawing, and listening to the muzik
# Coyright
copyright: Copyright &copy; 2020 - 2042 Alex The Creator. All Rights Reserved.

# Repository
repo_name: al666ex
repo_url: https://github.com/chinabiue/al666ex
edit_uri: edit/main/docs/

# Conifguration
theme:
  name: material
  custom_dir: docs/assets/overrides
  palette:
    # - media: "(prefers-color-scheme: dark)"
    - scheme: slate
      accent: amber
      toggle:
        icon: material/brightness-2
        name: "Switch to light mode"
    # - media: "(prefers-color-scheme: light)"
    - scheme: default
      accent: deep purple
      toggle:
        icon: material/brightness-5
        name: "Switch to dark mode"

  features:
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.footnote.tooltips
    - content.tooltips
    - content.code.annotate
    - content.code.copy
    - content.action.edit
    - content.action.view
    - navigation.tabs.sticky
    - navigation.footer
    - navigation.tabs
    - navigation.top
    - navigation.expand
    # - navigation.sections
    - navigation.indexes
    # - toc.integrate
    - toc.follow

  logo: assets/img/favicon.ico
  favicon: assets/img/favicon.ico
  icon:
    annotation: material/plus-circle-outline
    edit: material/file-edit
    view: material/file-eye
  language: en

# Plugins
plugins:
  - git-revision-date-localized:
      type: timeago
      fallback_to_build_date: false
      enable_creation_date: true
      enabled: true
  - git-authors
  - blog:
      blog_toc: true
      categories_toc: true
      archive_toc: true
  - search:
      separator: '[\s\u200b\-_,:!=\[\]()"`/]+|\.(?!\d)|&[lg]t;|(?!\b)(?=[A-Z][a-z])'
  # - minify:
  #     minify_html: true
  - termynal:
      title: cmd
      buttons: macos
      prompt_literal_start:
        - "$"

# Extensions
markdown_extensions:
  - tables
  - def_list
  - attr_list
  - footnotes
  - admonition
  - md_in_html
  - pymdownx.keys
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.details
  - pymdownx.snippets
  - pymdownx.betterem
  - pymdownx.superfences
  - pymdownx.inlinehilite
  - pymdownx.smartsymbols
  - toc:
      permalink: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format ""
  - pymdownx.tabbed:
      alternate_style: True
  - pymdownx.highlight:
      pygments_lang_class: true
      anchor_linenums: True
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.tasklist:
      custom_checkbox: true
      clickable_checkbox: true
  - mdx_include:
      base_path: docs

# Additional configuration
extra:
  status:
    new: Recently added
    deprecated: Not valid anymore
  generator: false
  analytics:
    provider: google
    property: G-VQRYHY3Y8P
    feedback:
      title: 写得还行吗？
      ratings:
        - icon: material/heart
          name: 本页还行
          data: 1
          note: >-
            Thanks for your feedback!
        - icon: material/heart-broken
          name: 本页不行
          data: 0
          note: >-
            Thanks for your feedback! 你开心就好！

extra_javascript:
  - https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.7/katex.min.js
  - https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.7/contrib/auto-render.min.js
  - assets/js/custom.js
  - assets/js/katex.js

extra_css:
  - https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.7/katex.min.css
  - assets/css/custom.css
  - assets/css/plugin.css
