click==8.3.1
colorama==0.4.6
cyclic==1.0.0
deepmerge==2.0
markdown==3.10
mdx-include==1.4.2
pygments==2.19.2
pymdown-extensions==10.19.1
pyyaml==6.0.3
rcslice==1.1.0
stepslist==0.7.5
zensical==0.0.15
